/* ------------------------------------------------------------------------------------------------------ */

#wrapper {
    width: 1280px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

#wrapper input[type="text"]:focus,
select:focus,
input[type="password"]:focus {
    outline: none;
}

#wrapper select {
    color: rgb(130, 130, 130);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0;
    /* Firefox 1-3.6 */
    border-radius: 0;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    padding-left: 5px;
}

::-webkit-input-placeholder {
    color: #c3c3c3;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #c3c3c3;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #c3c3c3;
}

:-ms-input-placeholder {
    color: #c3c3c3;
}

a {
    text-decoration: none;
}

input {
    border: none;
    background-color: #f7f7f7;
    padding-left: 7px;
}

select {
    border: none;
}

a.greenlink12 {
    color: #009900;
    font-size: 12px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.greenlink14 {
    color: #009900;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.greenlink15 {
    color: #009900;
    font-size: 15px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.greenlink16 {
    color: #009900;
    font-size: 16px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.redlink12 {
    color: #cd0000;
    font-size: 12px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.redlink14 {
    color: #cd0000;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.redlink15 {
    color: #cd0000;
    font-size: 15px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.redlink16 {
    color: #cd0000;
    font-size: 16px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.blacklink12 {
    color: #000000;
    font-size: 12px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.blacklink14 {
    color: #000000;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.blacklink15 {
    color: #000000;
    font-size: 15px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.blacklink16 {
    color: #000000;
    font-size: 16px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.blacklink18 {
    color: #000000;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.bluelink10 {
    color: #145d80;
    font-size: 10px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.bluelink12 {
    color: #145d80;
    font-size: 12px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.bluelink14 {
    color: #145d80;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.bluelink15 {
    color: #145d80;
    font-size: 15px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.bluelink16 {
    color: #145d80;
    font-size: 16px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.bluelink18 {
    color: #145d80;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

a.bluelink20 {
    color: #145d80;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

p.blk8 {
    color: #000000;
    font-size: 8px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk10 {
    color: #000000;
    font-size: 10px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk11 {
    color: #000000;
    font-size: 11px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk12 {
    color: #000000;
    font-size: 12px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk13 {
    color: #000000;
    font-size: 13px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk14 {
    color: #000000;
    font-size: 14px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk15 {
    color: #000000;
    font-size: 15px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk16 {
    color: #000000;
    font-size: 16px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk18 {
    color: #000000;
    font-size: 18px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk19 {
    color: #000000;
    font-size: 19px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk20 {
    color: #000000;
    font-size: 20px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk22 {
    color: #000000;
    font-size: 22px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk24 {
    color: #000000;
    font-size: 24px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk26 {
    color: #000000;
    font-size: 26px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk27 {
    color: #000000;
    font-size: 27px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk28 {
    color: #616161;
    font-size: 17px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk29 {
    color: #000000;
    font-size: 29px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk30 {
    color: #000000;
    font-size: 30px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk32 {
    color: #000000;
    font-size: 32px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk34 {
    color: #000000;
    font-size: 34px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk36 {
    color: #000000;
    font-size: 36px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk38 {
    color: #000000;
    font-size: 38px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk42 {
    color: #000000;
    font-size: 42px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blk52 {
    color: #000000;
    font-size: 52px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu8 {
    color: #145d80;
    font-size: 8px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu10 {
    color: #145d80;
    font-size: 10px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu11 {
    color: #145d80;
    font-size: 11px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu12 {
    color: #145d80;
    font-size: 12px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu13 {
    color: #145d80;
    font-size: 13px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu14 {
    color: #145d80;
    font-size: 14px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu15 {
    color: #145d80;
    font-size: 15px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu16 {
    color: #145d80;
    font-size: 16px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu18 {
    color: #145d80;
    font-size: 18px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu19 {
    color: #145d80;
    font-size: 19px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu20 {
    color: #145d80;
    font-size: 20px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu22 {
    color: #145d80;
    font-size: 22px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu24 {
    color: #145d80;
    font-size: 24px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu28 {
    color: #145d80;
    font-size: 28px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu30 {
    color: #145d80;
    font-size: 30px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu32 {
    color: #145d80;
    font-size: 32px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu34 {
    color: #145d80;
    font-size: 34px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu36 {
    color: #145d80;
    font-size: 36px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu38 {
    color: #145d80;
    font-size: 38px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu42 {
    color: #145d80;
    font-size: 42px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.blu52 {
    color: #145d80;
    font-size: 52px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry8 {
    color: #a4a4a4;
    font-size: 8px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry10 {
    color: #a4a4a4;
    font-size: 10px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry12 {
    color: #a4a4a4;
    font-size: 12px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry14 {
    color: #a4a4a4;
    font-size: 14px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry15 {
    color: #a4a4a4;
    font-size: 15px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry16 {
    color: #a4a4a4;
    font-size: 16px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry18 {
    color: #a4a4a4;
    font-size: 18px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry24 {
    color: #a4a4a4;
    font-size: 24px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.gry32 {
    color: #a4a4a4;
    font-size: 32px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red8 {
    color: #cd0000;
    font-size: 8px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red10 {
    color: #cd0000;
    font-size: 10px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red12 {
    color: #cd0000;
    font-size: 12px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red13 {
    color: #cd0000;
    font-size: 13px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red14 {
    color: #cd0000;
    font-size: 14px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red15 {
    color: #cd0000;
    font-size: 15px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red16 {
    color: #cd0000;
    font-size: 16px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red18 {
    color: #cd0000;
    font-size: 18px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red20 {
    color: #cd0000;
    font-size: 20px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red24 {
    color: #cd0000;
    font-size: 24px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red28 {
    color: #cd0000;
    font-size: 28px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red32 {
    color: #cd0000;
    font-size: 32px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.red60 {
    color: #cd0000;
    font-size: 60px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

.clickable-header {
    cursor: pointer;
}

.btn.basic {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: none;
    background-color: rgb(75, 167, 232);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    cursor: default;
    display: inline-block;
    font-family: Arial;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 50px;
    letter-spacing: 2px;
    line-height: 47px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    width: 128px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    cursor: pointer;
}

p.wht10 {
    color: #ffffff;
    font-size: 10px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht12 {
    color: #ffffff;
    font-size: 12px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht14 {
    color: #ffffff;
    font-size: 14px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht15 {
    color: #ffffff;
    font-size: 15px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht16 {
    color: #ffffff;
    font-size: 16px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht18 {
    color: #ffffff;
    font-size: 18px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht20 {
    color: #ffffff;
    font-size: 20px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht24 {
    color: #ffffff;
    font-size: 24px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht28 {
    color: #ffffff;
    font-size: 28px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht32 {
    color: #ffffff;
    font-size: 32px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht34 {
    color: #ffffff;
    font-size: 34px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht36 {
    color: #ffffff;
    font-size: 36px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht42 {
    color: #ffffff;
    font-size: 42px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht44 {
    color: #ffffff;
    font-size: 44px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht46 {
    color: #ffffff;
    font-size: 46px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht52 {
    color: #ffffff;
    font-size: 52px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

p.wht60 {
    color: #ffffff;
    font-size: 60px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

.deals_page #wrp {
    width: 580px;
    margin: 0 auto;
}

.zoek {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffc600;
    border: none;
    border-bottom: 3px solid #cda402;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    margin: 0 auto;
    margin-top: 15px;
}