html, body {
    height: 100%;
}
.navbar {
    background-color: #0e1331;
    border-color: transparent;
    border-radius: 0px;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index: 3;
    border: none;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
}
.size {
    max-height: 60px;
    margin-top: -10px;
    padding-bottom: 20px;
}
.text {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    letter-spacing: 0.15em;
}
.nav.navbar-nav li a {
    color: white;
    background-color: #0e1331;
}

.pay-off {
    background-color: #47a7d9;
    color: white;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
    font-size: 1.25em;
}
.search {
    overflow: auto;
    padding-bottom: 15px;
    background-color: transparent;
    background-image: url("../img/home_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}
@media all and (max-width:700px){
    .search {
        background-image: url("../img/small.jpg");
    }
}
@media all and (max-width:1500px){
    .search {
        background-image: url("../img/medium.jpg");
    }
}
.titel {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: rgba(14, 19, 49, 0.75);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.25em;
    opacity: 60;
    margin-top: 50px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(14, 19, 49, 0.75);
    margin: 0 auto;
    margin-top: -10px;
}
.buttoncol {
    background-color: white;
    color: black;
    font-size: 1.1em;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin: 0 auto;
}
.arrow {
    border-top: 8px solid #e8e8e8;
    margin-top: 8px;
}
.cust {
    color: #9f9f9f;
    padding-right: 10px;
}
.zoek {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffc600;
    border: none;
    border-bottom: 3px solid #cda402;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    margin: 0 auto;
    margin-top: 15px;
}
.footer {
    background-color: #47a7d9;
    margin-bottom: -10px;
}
.filters {
    background-color: #47a7d9;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
}
.meer {
    text-decoration: none;
    color: white;
}
.contactform {
    background-color: #0e1331;
    margin-bottom: -10px;
}
.contact {
    padding-top: 5px;
    padding-bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}
.opnem {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.last {
  font-family: 'Ubuntu', sans-serif;
  color: #0e1331;
  font-size: 1.5em;
  cursor: pointer;
}

.new-t {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  padding-left: 10px;
  text-align: left;
  padding-right: 10px;
}

#panel {
  display: none;
}

hr {
  border-color: #0e1331;
}
