.dropdown-menu>li>p
{
	cursor: pointer;
	margin: 0px;
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>p:hover
{
	background-color: #e6e6e6;
}